body {
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif,Verdana; 
  font-size:25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  font-family: "Roboto";
  background-color:linear-gradient(to right bottom, #40abe173, #9dbacb3b)
}

.button{
  background-color: #cae5f2 !important;
  color:black !important;
}